.canvas {
  position: relative;
}

.svg {
  height: calc(99vh - 50px);
}

/* Tool */
.tool-box {
  position: absolute; /* relative to .canvas */
  display: flex;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #a8a8a8;
  background-color: #ffffff;
}

.common-tool {
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.tool-item {
  display: flex;
  align-items: center;
  height: 30px;
  position: relative;
  text-align: center;
  margin: 0 5px;
  border-radius: 2px;
}

.tool-item:hover {
  background-color: #e8e8e8;
}

.hori-sep {
  border: 1px solid #a8a8a8;
}
.verti-sep {
  border: 1px solid #a8a8a8;
  margin: 0 15px;
  content: none;
}

.tool-main-title {
  text-align: center;
  margin: 5px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

.tool-close-btn {
  position: absolute; /* relative to .tool-box */
  padding: 5px;
  top: 10px;
  right: 15px;
}

.tool-close-btn:hover {
  background-color: #e8e8e8;
}

.tool-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.tool-subtitle {
  font-weight: bold;
  width: 60px;
  margin: 5px 10px;
}

.tool-select {
  cursor: pointer;
}

.tool-input:hover,
.tool-input:focus-within {
  background-color: initial;
  border-bottom: 2px solid #e8e8e8;
}

.doc-title-input {
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.tool-btn {
  cursor: pointer;
}

.tool-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
}

.color-block {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tool-select:hover,
.tool-btn:hover {
  background-color: #e8e8e8;
}

.tool-trigger {
  padding: 5px;
  border-radius: 2px;
}

.tool-trigger:hover {
  background-color: #c8c8c8;
}

.tool-selector {
  display: none;
  position: absolute;
  top: 15px;
  border-radius: 2px;
  box-shadow: 0 0 10px #a8a8a8;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #a8a8a880;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-icon {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 3rem;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Note Tool */
.note {
  width: 300px;
  height: 70%;
  right: 20px;
  top: 50%;
  z-index: 99;
  transform: translateY(-50%);
}

.note-title {
  width: 100%;
}

.title-content {
  width: 100%;
  border: none;
  margin: 5px auto;
  padding: 0 15px;
  text-align: start;
  font-size: 1.1rem;
}

.text-edit {
  height: 80%;
}
.text-content {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* border: 1px solid #a8a8a8; */
  border: none;
  outline: none;
  padding: 15px;
  resize: none;
}

.no-note {
  text-align: center;
  margin: 10px;
}

.text-view ol li {
  list-style-type: decimal;
  list-style-position: outside;
}
.text-view ul li {
  list-style-type: disc;
  list-style-position: inside;
}
.text-view blockquote {
  padding: 5px 10px;
  background-color: #e8e8e8;
}

/* SVG */
.connection-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
