.canvas {
  position: relative;
}

.svg {
  height: calc(99vh - 50px);
  touch-action: none; /*Set touch action none for preventing browser default touch action*/
}

/* Tool */
.tool-box {
  position: absolute; /* relative to .canvas */
  display: flex;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #457b9d;
  background-color: #ffffff;
}

.common-tool {
  top: 30px;
  left: 20px;
}
.curve-tool {
  top: 120px;
  left: 20px;
}
.node-tool {
  top: 270px;
  left: 20px;
}

.tool-item {
  display: flex;
  align-items: center;
  height: 30px;
  text-align: center;
  margin: 0 5px;
  border-radius: 2px;
}
.tool-item:hover {
  background-color: #e8e8e8;
}

.hori-sep {
  border: 1px solid #a8a8a8;
}
.verti-sep {
  border: 1px solid #a8a8a8;
  margin: 0 15px;
  content: none;
}

.tool-main-title {
  text-align: center;
  margin: 5px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

.tool-close-btn {
  position: absolute; /* relative to .tool-box */
  padding: 5px;
  top: 10px;
  right: 15px;
}
.tool-close-btn:hover {
  background-color: #e8e8e8;
}

.edit-mode-btn,
.view-mode-btn {
  position: absolute; /* relative to .tool-box */
  padding: 5px;
  top: 12px;
  right: 15px;
}

.tool-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
.tool-subtitle {
  font-weight: bold;
  width: 60px;
  margin: 5px 10px;
}

.tool-select {
  position: relative;
}
.tool-selector {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 3px;
  border: 1px solid #457b9d;
  padding: 5px 0;
  box-shadow: 0 0 10px #457b9d;
  background-color: #ffffff;
  z-index: 1;
  white-space: nowrap;
  max-height: 60vh;
  overflow: auto;
}
.tool-selector:focus {
  outline: none;
}
.tool-option {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-left: 2px solid transparent;
}
.tool-option:hover {
  background-color: #e8e8e8;
  border-left: 2px solid #a8a8a8;
  cursor: pointer;
}

.tool-input:hover,
.tool-input:focus-within {
  background-color: initial;
  border-bottom: 2px solid #e8e8e8;
}
.tool-text {
  padding: 5px;
}
.tool-btn {
  cursor: pointer;
}
.tool-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
}

.color-block {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.color-trigger {
  position: absolute;
  width: 20px;
  height: 28px;
  top: 0;
  right: 0;
  opacity: 0;
}

.tool-select:hover,
.tool-btn:hover {
  background-color: #e8e8e8;
}

.tool-trigger {
  padding: 5px;
  border-radius: 2px;
}
.tool-trigger:hover,
.color-trigger:hover {
  background-color: #c8c8c8;
  cursor: pointer;
}

/* Doc Title */

.doc-title-input {
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Note Tool */
.note {
  display: block;
  width: 400px;
  height: 70%;
  right: 20px;
  top: 50%;
  z-index: 99;
  transform: translateY(-50%);
}

.note-left-edge {
  position: absolute; /* Relative to .tool-box .note */
  left: -5px;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: transparent;
  cursor: ew-resize;
}

.title-edit {
  padding: 5px 15px;
  margin: 5px;
  margin-bottom: 10px;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
}

.title-content {
  padding: 0;
  border: none;
  font-size: 1.1rem;
}

.title-view {
  height: 35px;
  font-size: 1.1rem;
  padding: 5px 15px;
  margin: 5px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  overflow: hidden;
}

.text-edit {
  height: calc(100% - 110px);
  margin: 0 5px;
}

.textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #a8a8a8;
  outline: none;
  padding: 15px;
  resize: none;
}

.no-note {
  text-align: center;
  margin: 10px;
}

.text-view {
  margin: 5px;
  padding: 15px;
  height: calc(100% - 110px);
  border: 1px solid #ffffff;
  overflow: auto;
}

/* Markdown Format */

.text-view p {
  margin: 5px 0;
}

.text-view ol {
  padding: 0;
}

.text-view ol li {
  list-style-type: decimal;
  list-style-position: inside;
}
.text-view ul li {
  list-style-type: disc;
  list-style-position: inside;
}
.text-view blockquote {
  padding: 5px 10px;
  margin: 10px 0;
  border-left: 2px solid #a8a8a8;
}

.text-view img {
  width: 100%;
}

.text-view code {
  font-family: Menlo, "Courier New", Courier, monospace;
}

.text-view p code {
  font-size: 0.8rem;
  padding: 2px 3px;
  color: #eb5757;
  border-radius: 2px;
  background-color: #e8e8e8;
}

.text-view pre {
  font-size: 0.8rem;
  padding: 10px;

  background-color: #e8e8e8;
  overflow-x: scroll;
}

.text-view table {
  margin: 10px auto;
  border-collapse: collapse;
}

.text-view table,
.text-view th,
.text-view td {
  border: 1px solid #000000;
}

.text-view th,
.text-view td {
  padding: 5px;
}

/* SVG */
.connection-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
