/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
  border-bottom: 2px solid #457b9d;
  background-color: #ffffff;
}

header > .title {
  font-family: "Comic Sans MS", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: #457b9d;
  margin-right: 20px;
}

header > .go-back-btn {
  margin-left: 10px;
  cursor: pointer;
}
header > .go-back-btn:hover {
  color: #457b9d;
}

.header > .navbar {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.header > .navbar > .navbar-item {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
}
.header > .navbar > .navbar-item:hover {
  color: #457b9d;
}

.header > .navbar > .navbar-item-selected {
  color: #457b9d;
  border: 2px solid #457b9d;
  border-radius: 3px;
  padding: 5px 10px;
}

.header > .user {
  margin: 0 10px 0 auto;
}

.header > .user > .login-btn {
  padding: 6px 12px;
  color: #457b9d;
  border: 1px solid #457b9d;
  border-radius: 6px;
}

.header > .user > .user-info {
  position: relative;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

/* Floating user */
.header > .user > .user-info > .popover {
  position: absolute; /* relative to user-info */
  display: none;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 12px 0 #a8a8a8;
}
header > .user > .user-info > .popover:after {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: #ffffff;
  border-width: 8px;
}

.header > .user > .user-info > .popover:hover,
.header > .user > .user-info > .popover:after:hover {
  display: block;
}

header > .user > .user-info > .popover > .item {
  margin: 5px 10px;
  cursor: pointer;
  text-align: center;
}
header > .user > .user-info > .popover > .item:hover {
  color: #457b9d;
}

/* Header Separation */

.header-sep {
  width: 100%;
  height: 50px;
}
