.main-block,
.second-block {
  height: calc(100vh - 50px);
}

.main-block {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.main-title {
  font-size: 3rem;
}

.main-title,
.main-desc,
.main-block {
  width: 100%;
}

.main-content {
  width: 100%;
  margin: 20px 0;
}

.main-btn {
  font-size: 1.5rem;
  margin: 0 10px;
  padding: 15px;
  border: 1px solid #457b9d;
  border-radius: 5px;
}

.gallery-btn {
  font-size: 1.1rem;
  border: none;
  border-radius: none;
}

.sign-up-btn {
  color: #ffffff;
  background-color: #457b9d;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: #457b9d;
}

.second-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 70%;
  max-width: 1200px;
}

.second-desc {
  width: 45%;
}

.second-desc h3 {
  text-align: left;
}

.second-desc p {
  width: 100%;
  text-align: justify;
}

.mind-map-pic {
  width: 55%;
}

.note-taking-pic {
  width: 35%;
}
