/*
Color: #1d3557, #457b9d, #e8e8e8, #a8a8a8, #c8c8c8, #e63946
*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");

/* Normalize */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #1d3557;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

rect,
circle,
path,
line,
g {
  outline: none;
}

/* Common */

.container {
  margin: 0 auto;
  padding: 0;
}

.row {
  display: flex;
}
